@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

button:disabled {
  background-color: lightgrey;
}

a.function-link {
  text-decoration: underline;
  color: lightblue;
}
a.function-link:hover {
  text-decoration: unset;
  color: blue;
  cursor: pointer;
}

.center {
  text-align: center;
}

.incomplete-quotes-table td {
  margin: auto;
  padding: 5px;
}

.data-highlight {
  color: green;
  text-decoration: underline;
}